@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap');*{
    margin:0;
    padding:0;
    font-family: 'Chakra Petch', sans-serif;
    font-size: large;
}

:root{
    height: 150%;
    background-image: url('1.jpg');
    
    background-size: contain;
    background-repeat: repeat-y;
}

header{
    
    height:19vh;
    background-size: cover;
    background-position: center;   
}

.main{
    height: 15%;
}

ul{
    float:right;
    list-style-type: none;
    margin-top: 25px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s;
}

ul li a:hover{
    background-color: #fff;
    color: #000;
}

ul li.active a{
    background-color: #fff;
    color: #000;
}

.ques{
    color: #fff;
    padding: 20px;
    
}
.btn{
    float: right;
    cursor: pointer;
}
.label{
    cursor: pointer;
    display: flex;
}
#title{
    color: white;
    font-weight: 600;
    margin-left: 15pt;
    
}

h1{
    font-weight: 900;
    line-height: 1.2;
}
p{
    font-size: 1.125rem;
}
h1,p{
    margin-top: 0;
    margin-bottom: 0.5rem;
}

#description{
    font-style: italic;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    color: #fff;

}